from setuptools import setup

setup(
    name="%(display_name)s",
    version="%(version)s",
    description="%(description)s",
    author="%(author)s",
    author_email="%(author_email)s",
    url="%(url)s",
    license="%(license)s",
    packages=%(packages)s,
    long_description="""
        %(long_description)s
        """,
    classifiers=[
        "Development Status :: 4 - Beta",
        "Intended Audience :: Developers",
        "Intended Audience :: by End-User Class :: Advanced End Users",
        "Intended Audience :: by End-User Class :: System Administrators",
        "Intended Audience :: by Industry or Sector :: Information Technology",
        "Programming Language :: Python",
        "Topic :: Database",
        "Topic :: Formats and Protocols :: Data Formats",
        "Topic :: Multimedia :: Graphics :: Presentation",
        "Topic :: Software Development :: Object Oriented",
        "Topic :: System :: Networking :: Monitoring",
        "Topic :: System :: Systems Administration",
        "License :: OSI Approved :: BSD License",
       ],
    )

